<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<h1>Viel Dank für Ihre bestellung</h1>
		<br />
		<p>Sie haben bestellt:</p>
		<ul>
			{{#each bestellung}}
				<li>Name: {{this.Name}}, Preis:{{this.Preis}}EUR</li>
			{{/each}}
		</ul>
		<hr />
		Summe:
		{{summe}}EUR
	</body>

</html>